@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-body{
    font-family: "Poppins", sans-serif ;
    display: flex;
    justify-content: center;
}

.main-body{
    background: hsl(19, 100%, 96%);
    border-radius: 10px;
    width: 30%;
    color: white;
    padding: 10px;
    margin-top: 30px;
}

.admin-form{
    padding: 20px;
    font-size: 15px;
    background: black;
    color: white;
    margin-top: 5%;
    border-radius: 5px;
}

.container h3{
    text-align: center;
    margin-bottom: 20px;
}

.main-body .container .input{
    margin-bottom: 15px;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px 0;
}

.btn{
    background: #1ec6b6;    
    color: white;
    font-weight: bold;
    cursor: pointer;   
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 15px;
}

.btn:hover{
    background: #275550;;
}




